body{
  padding: 0;
  margin: 0;
}
#h2ff{
  font-size: 30px;
  margin-left: 10%;
}
#h3ff{
  font-size: 25px;
  margin-left: 10%
}
.headerbg{
  background: url(../assets/backgrounds/landing.jpg) no-repeat center;
  background-size: cover;
  height: 470px;
}
.drop{
  width: 25%;
  height: 400px;
  position: absolute;
}
.logo{
  height: 500px;
  width: 44%;
  margin-left:26%;
  position: absolute;

}
.btn{
  height: 50px;
  width: 70px;
  margin-left: 30%;
  margin-top: 10%;
}
.logopic{
margin-top: 7%;
margin-left: 28%;
}
#logotext{
  font-size: 40px;
  text-align: center;
  color: #fff;
  font-family: serif;
  font-weight: 100;
}
.container-fluid{
  margin: 0;
  padding: 0;
}
.happy{
  height: 159px;
  background-color: green;
}
.breakfast{
  height: 188px;
  background: url(../assets/foodtop/breakfast.jpg) no-repeat center;
  background-size: cover;
  opacity: 0.9;
}
.lunch{
  height: 188px;
  background: url(../assets/foodtop/lunch.jpg) no-repeat center;
  background-size: cover;
  opacity: 0.9;
}
.dinner{
  height: 188px;
  background: url(../assets/foodtop/dinner.jpg) no-repeat center;
  opacity: 0.9;
}
.happy-hour{
  height: 94px;
  background-color: #fff;
}
.party-time{
  height:94px;
  background-color: orange;
}
.cols1text{
  text-align: center;
  margin-top: 22%;
  font-size: 30px;
  font-style: italic;
  color: #fff;
}
.cols11text{
  text-align: center;
  margin-top: 8%;
  font-size: 30px;
  color: #fff;
}
.cols12text{
  text-align: center;
  margin-top: 8%;
  font-size: 30px;
  color: #000;
}
.fastfoodpic{
  height: 500px;
  background-color: #fff;

}
.fastfoodtext{
  height: 500px;
  background-color: #fff;
}
.fdtxt{
  padding-left: 10%;
  line-height: 30px;
  font-size: 16px;
}
.fastfoodtextcontainer{
  margin-top: 17%;
}
.fdbtn{
  width: 170px;
  background-color: #fff;
  border: 3px solid green;
  border-radius: 6px;
  margin-left: 10%;
}
.fastpic{
  height: 390px;
  width: 300px;
  margin-top: 12%;
  margin-left: 18%;
  background-color: green;
  border: 6px solid white;
}
.fastfoodpic1{
  height: 50%;
  width: 380px;
}
.fastfoodpic2{
  height: 50%;
  width: 380px;
}
.drinkstext{
  background-color: #fff;
  height: 500px;
}
.drinkspics{
  background-color: #fff;
  height: 500px;
}
#h2drinks, #h3drinks, #pdrinks{
  text-align: right;
  line-height: 30px;
  margin-right: 10%;
}
#pdrinks{
  font-size: 16px;
}
#h2drinks{
  font-size: 30px;
  margin-top: 10%;
}
#h3drinks{
  font-size: 25px;
}
.drinkspicsholder{
  margin-top: 20px;
  height: 350px;
  width: 480px;
}
.drink{
height: 350px;
width: 240px;
}
.dbtn{
  width: 170px;
  background-color: #fff;
  border: 3px solid green;
  border-radius: 6px;
  margin-left: 62%;
}
.mainfoodcontainer{
  background: url(../assets/backgrounds/foodsBg.jpg) no-repeat center;
  background-size: cover;
  height: 600px;
  overflow: auto;

}
.foodtabs{
  background-color: #fff;
  height: 370px;
  margin-top: 50px;
  margin-left: 10%;
  margin-right: 10%;
  margin-top: 9%;
}
.tabsname{
  color: #000;
  font-size: 20px;
  padding-left: 73px;
}
.fnameactive{
  color: #ff4000;
  font-size: 20px;
}
.tabsname, .fnameactive{
  padding-left: 78.2px;
  padding-right: 79px;
  line-height: 40px;
}
.tabsdetails{
  background-color: #fff;
  height: 300px;
  overflow: auto;
}
.tab1pic, .tab2pic, .tab3pic{
  height: 260px;
  width:300px;
  margin-left: 6%;
  margin-top: 19px;
  background-color: #fff;
}
#chickenburger, #beefburger, #chickenpizza{
  width: 100%;
  height: 218px;
}
.tabpicdef{
  color: #ff4000;
  text-align: center;
  padding-top: 10px;
  font-size: 16px;
  font-weight: bold;
}
